<div class="card">
    <p-table [value]="estados" [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:40%">Nome</th>
                <th style="width:40%">Pais</th>
                <th style="width:15%">Sigla</th>
                <th style="width:5%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-estado>
            <tr>
                <td>{{ estado.nome }}</td>
                <td>{{ get_pais_name(estado.pais_id) }}</td>
                <td>{{ estado.sigla }}</td>
                <td>
                    <a routerLink="/estados/update/{{estado.estado_id}}">
                        <i class="bi bi-pencil-square"></i>          
                    </a>  
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>