<div class="card">
    <p-table [value]="paises" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5" [rowsPerPageOptions]="[5, 10, 15, 20]" responsiveLayout="scroll">
        <ng-template pTemplate="header">
            <tr>                
                <th pSortableColumn="nome" style="width:90%">Nome<p-sortIcon field="code"></p-sortIcon></th>
                <th style="width:5%">Sigla</th>
                <th style="width:5%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-pais>
            <tr>
                <td>{{ pais.nome }}</td>
                <td>{{ pais.sigla }}</td>
                <td>
                    <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-text" (click)="update(pais.pais_id)" [disabled]="!canModify"></p-button> 
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>