<div class="card">
    <p-table dataKey="paciente_id" [value]="patientsFull" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="5" responsiveLayout="scroll" [rowsPerPageOptions]="[5, 10, 15, 20]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:5%"></th>
                <th pSortableColumn="nome" style="width:40%">Nome<p-sortIcon field="code"></p-sortIcon></th>
                <th style="width:20%">Data Nasc.</th>
                <th style="width:20%">Telefone</th>
                <th style="width:10%">Hygia</th>
                <th style="width: 5%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-paciente let-expanded="expanded">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="paciente" 
                    class="p-element p-button-text text-sm p-button-rounded p-button-plain p-0 w-2rem h-2rem inline-flex align-items-center justify-content-center p-button p-component p-button-icon-only ng-star-inserted" 
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>                
                <td>{{ paciente.nome }}</td>                
                <td>{{ paciente.data_nasc | date :'dd/MM/yyyy'}}</td>
                <td>{{ paciente.tel_1 }}</td>
                <td>{{ paciente.hygia }}</td>
                <td>
                    <!--a routerLink="/app/pacientes/update/{{paciente.paciente_id}}"-->
                    <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-text" (click)="update(paciente.paciente_id)" [disabled]="!canModify"></p-button>                         
                        <!--i class="bi bi-pencil-square"></i-->          
                    <!--/a-->  
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-paciente>
            <tr>
                <td colspan="6">
                    <div class="card text-bg-secondary mb-3" style="padding-bottom: 3px; padding-top: 3px;">
                        <div class="row g-0">
                          <div class="col-md-8">
                            <div class="card-body">
                                <ul class="flex flex-wrap m-0 p-0 text-lg">
                                    <li class="flex align-items-center w-6 p-3">
                                        <i class="bi bi-mailbox text-green-600 mr-2 align-self-start"></i>
                                        <div class="text-700 text-1xl font-bold mb-3 align-items-center">Endereço do Paciente</div>
                                    </li>
                                </ul>                              
                                <p>
                                    <span class="text-700 text-1xl font-bold mb-3">Cidade:</span>
                                    <span style="padding-left: 5px;">{{ paciente.cidade_nome }}</span>
                                </p>
                                <p>
                                    <span class="text-700 text-1xl font-bold mb-3">Endereço:</span>
                                    <span style="padding-left: 5px;">{{ paciente.logradouro }}</span>
                                </p>                                
                                <p>
                                    <span class="text-700 text-1xl font-bold mb-3">Número:</span>
                                    <span style="padding-left: 5px;">{{ paciente.numero }}</span>
                                </p>
                                <p>
                                    <span class="text-700 text-1xl font-bold mb-3">Complemento:</span>
                                    <span style="padding-left: 5px;">{{ paciente.complemento }}</span>
                                </p>     
                                <p>
                                    <span class="text-700 text-1xl font-bold mb-3">CEP:</span>
                                    <span style="padding-left: 5px;">{{ paciente.cep }}</span>
                                </p>
                                <p>
                                    <span class="text-700 text-1xl font-bold mb-3">Data de Cadastro:</span>
                                    <span style="padding-left: 5px; padding-bottom: 3px;">{{ paciente.data_cadastro | date :'dd/MM/yyyy' }}</span>
                                </p>   
                            </div>
                          </div> 
                        </div>
                      </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>