<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.png" style="height: 83px; width: 83px;" alt="logo">
        <!--<span>TFD 360°</span>-->
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <span style="padding-top: 12px;">{{usuario}}</span>
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
        <button pButton type="button" (click)="menu.toggle($event)" class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>            
        </button>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text-danger" rejectButtonStyleClass="p-button-text"></p-confirmDialog>
<p-dialog [(visible)]="form_change_password" [style]="{width: '450px'}" 
    header="Alteraçao de Senha" 
    [modal]="true" class="p-fluid"
    closeOnEscape = "true"
    >
    <ng-template pTemplate="content">   
        <div class="field">
            <label for="actual_password" class="block text-900 font-medium text-xl mb-2">Senha atual</label>
            <p-password 
                id="actual_password" 
                placeholder="Senha" 
                [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"
                placeholder="Digite a senha atual" 
                promptLabel="Digite a senha atual"
                weakLabel = "Senha é fraca!" 
                mediumLabel="Complexidade é insuficiente!" 
                strongLabel="Senha digitada é forte" 
                [(ngModel)]="cp.old_pass"
                >                                               
            </p-password>
        </div>
        <div class="field">
            <label for="new_password" class="block text-900 font-medium text-xl mb-2">Digite a nova senha</label>
            <p-password 
                id="new_password" 
                placeholder="Digite a nova senha" 
                [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem" 
                weakLabel = "Infelizmente, sua senha é muito fraca!" 
                mediumLabel="Melhorou, mas ainda não é suficiente!" 
                strongLabel="Ótimo, sua senha é forte" 
                promptLabel="Informe sua senha de acesso"
                strongRegex="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])(?=.*[!@#_.,:;$%^&*\-])(?=.{8,})"
                [(ngModel)]="cp.new_pass"
                >
                <ng-template pTemplate="footer">
                    <p-divider type="solid"></p-divider>
                    <ul class="pl-2 ml-2 mt-0 text-600 text-1xl" style="line-height: 1.5">
                        <li>Pelo menos, uma letra maiúscula</li>
                        <li>Pelo menos, uma letra minúscula</li>
                        <li>Pelo menos, um caracter especial (@ #, _. : ; $ % ^ & * )</li>
                        <li>Pelo menos, um número</li>
                        <li>Mínimo de 8 caracteres</li>
                    </ul>
                </ng-template>                                                
            </p-password>
        </div>
        <label for="confirm_password" class="block text-900 font-medium text-xl mb-2">Confirme a nova senha</label>
        <p-password 
            id="confirm_password" 
            placeholder="Confirme a nova senha" 
            [toggleMask]="true" styleClass="mb-5" inputStyleClass="w-full p-3 md:w-30rem"
            placeholder="Confirme a nova senha" 
            promptLabel="Confirme a nova senha"
            weakLabel = "Senha é fraca!" 
            mediumLabel="Complexidade é insuficiente!" 
            strongLabel="Senha digitada é forte"
            [(ngModel)]="cp.new_pass_confirmed" 
            >                                               
        </p-password>
    </ng-template>
    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
        <button pButton pRipple label="Alterar" icon="pi pi-check" class="p-button-text" (click)="changePassword()"></button>
    </ng-template>        

</p-dialog>

