<div class="layout-topbar">
    <a class="layout-topbar-logo" routerLink="">
        <img src="assets/layout/images/{{layoutService.config.colorScheme === 'light' ? 'logo-dark' : 'logo-white'}}.png" style="height: 83px; width: 83px;" alt="logo">
        <!--<span>TFD 360°</span>-->
    </a>

    <button #menubutton class="p-link layout-menu-button layout-topbar-button" (click)="layoutService.onMenuToggle()">
        <i class="pi pi-bars"></i>
    </button>

    
    <button #topbarmenubutton class="p-link layout-topbar-menu-button layout-topbar-button" (click)="layoutService.showProfileSidebar()">
        <i class="pi pi-ellipsis-v"></i>
    </button>

    <div #topbarmenu class="layout-topbar-menu" [ngClass]="{'layout-topbar-menu-mobile-active': layoutService.state.profileSidebarVisible}">
        <span style="padding-top: 12px;">{{usuario}}</span>
        <p-menu #menu [model]="items" [popup]="true"></p-menu>
        <button pButton type="button" (click)="menu.toggle($event)" class="p-link layout-topbar-button">
            <i class="pi pi-user"></i>
            
        </button>
    </div>
</div>
<p-toast></p-toast>
<p-confirmDialog [style]="{width: '350px'}" acceptButtonStyleClass="p-button-text-danger" rejectButtonStyleClass="p-button-text"></p-confirmDialog>