<div class="card">
    <p-table dataKey="agendamento_id" [value]="schedulingFull" [tableStyle]="{ 'min-width': '50rem' }" [paginator]="true" [rows]="8" responsiveLayout="scroll" [rowsPerPageOptions]="[5, 10, 15, 20]">
        <ng-template pTemplate="header">
            <tr>
                <th style="width:5%"></th>
                <th pSortableColumn="nome" style="width:28%">Nome<p-sortIcon field="code"></p-sortIcon></th>
                <th style="width:7%">Data Nasc.</th>
                <th style="width:7%">Telefone</th>
                <th style="width:7%">Hygia</th>
                <th style="width:30%">Hospital</th>
                <th style="width:12%">Data Remoção</th>
                <th style="width: 4%"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-scheduling let-expanded="expanded">
            <tr>
                <td>
                    <button type="button" pButton pRipple [pRowToggler]="scheduling" 
                    class="p-element p-button-text text-sm p-button-rounded p-button-plain p-0 w-2rem h-2rem inline-flex align-items-center justify-content-center p-button p-component p-button-icon-only ng-star-inserted" 
                    [icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
                </td>                
                <td>{{ scheduling.nome }}</td>                
                <td>{{ scheduling.data_nascimento | date :'dd/MM/yyyy'}}</td>
                <td>{{ scheduling.tel_1 }}</td>
                <td>{{ scheduling.hygia }}</td>
                <td>{{ scheduling.hospital }}</td>
                <td>{{ scheduling.data_remocao | date :'dd/MM/yyyy hh:mm'}}</td>                
                <td>
                    <p-button icon="pi pi-pencil" styleClass="p-button-rounded p-button-text" (click)="update(scheduling.agendamento_id)" [disabled]="!canModify"></p-button> 
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="rowexpansion" let-scheduling>
            <tr>
                <td colspan="12">

                    <div class="card text-bg-secondary mb-3" style="padding-bottom: 3px; padding-top: 3px;">
                        <div class="row g-0">
                          <div class="col-md-8">
                            <div class="card-body">
                                <ul class="flex flex-wrap m-0 p-0 text-lg">
                                    <li class="flex align-items-center w-6 p-3">
                                        <i class="bi bi-calendar text-green-600 mr-2 align-self-start"></i>
                                        <div class="text-700 text-1xl font-bold mb-3 align-items-center">Detalhes do Agendamento</div>
                                    </li>
                                </ul>   

                                <div class="p-fluid p-formgrid grid">
                                    <div class="field col-12 md:col-4">
                                        <p>
                                            <span class="text-700 text-1xl font-bold mb-3">Tipo de doença:</span>
                                            <span style="padding-left: 5px;">{{ scheduling.tipo_doenca }}</span>
                                        </p>                                           
                                        <p>
                                            <span class="text-700 text-1xl font-bold mb-3">Tipo de encaminhamento:</span>
                                            <span style="padding-left: 5px;">{{ scheduling.tipo_encaminhamento }}</span>
                                        </p>  
                                        <p>
                                            <span class="text-700 text-1xl font-bold mb-3">Tipo de remoção:</span>
                                            <span style="padding-left: 5px;">{{ scheduling.tipo_remocao }}</span>
                                        </p>                                                                                           
                                    </div>
                                    <div class="field col-12 md:col-4">  
                                        <p>
                                            <span class="text-700 text-1xl font-bold mb-3">Motorista:</span>
                                            <span style="padding-left: 5px;">{{ scheduling.motorista }}</span>
                                        </p>                                                                                  
                                        <p>
                                            <span class="text-700 text-1xl font-bold mb-3">Veículo:</span>
                                            <span style="padding-left: 5px;">{{ scheduling.veiculo_modelo }}</span>
                                        </p> 
                                        <p>
                                            <span class="text-700 text-1xl font-bold mb-3">Placa do Veículo:</span>
                                            <span style="padding-left: 5px;">{{ scheduling.veiculo_placa }}</span>
                                        </p>                                           
                                        <p>
                                            <span class="text-700 text-1xl font-bold mb-3">Capacidade Veículo:</span>
                                            <span style="padding-left: 5px;">{{ scheduling.veiculo_capacidade }}</span>
                                        </p> 
                                        <p>
                                            <span class="text-700 text-1xl font-bold mb-3">Consumo Veículo:</span>
                                            <span style="padding-left: 5px;">{{ scheduling.veiculo_media_consumo }} km/l</span>
                                        </p>                                           
                                                                                                                                     
                                    </div> 
                                    <div class="field col-12 md:col-4">   
                                        <p>
                                            <span class="text-700 text-1xl font-bold mb-3">Saída Prevista:</span>
                                            <span style="padding-left: 5px;">{{ scheduling.saida_prevista | date :'dd/MM/yyyy hh:mm' }}</span>
                                        </p>                                                                                 
                                        <p>
                                            <span class="text-700 text-1xl font-bold mb-3">Responsável PAC:</span>
                                            <span style="padding-left: 5px;">{{ scheduling.responsavel_pac }}</span>
                                        </p> 
                                        <p>
                                            <span class="text-700 text-1xl font-bold mb-3">Estado Geral:</span>
                                            <span style="padding-left: 5px;">{{ scheduling.estado_geral_paciente }}</span>
                                        </p> 
                                        <p>
                                            <span class="text-700 text-1xl font-bold mb-3">Custo IFD:</span>
                                            <span style="padding-left: 5px;">{{ scheduling.custo_ifd | currency: 'BRL'}}</span>
                                        </p>   
                                        <p>
                                            <span class="text-700 text-1xl font-bold mb-3">Custo Estadia:</span>
                                            <span style="padding-left: 5px;">{{ scheduling.custo_estadia | currency: 'BRL'}}</span>
                                        </p>                                                                                                                                                                                                                                                                   
                                    </div>                                     
                                    <div class="field col-12 md:col-12">
                                        <p>
                                            <span class="text-700 text-1xl font-bold mb-3">Observação:</span>
                                            <span style="padding-left: 5px;">{{ scheduling.observacao }}</span>
                                        </p>    
                                    </div>                                                                        
                                </div>                                
                            </div>
                          </div> 
                        </div>
                      </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>